@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --crema:  rgb(255, 254, 242);
    --beige: #F1D6AB;
    --rosa: #E2C2B9;
    --verdeclaro: #B4C6A6;
    --verdeoscuro: #38470B;
    --cafe: #41341F;
    --cafeclaro: #A0855B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    background-image: url(../utils/img/foto1.jpg);
}

.container{
    display: grid;
    grid-template-areas: 
    "nav"
    "wrapper"
    "footer"
    "parte-abajo";
}

p {
    font-size: small;
}

header{
    grid-area: header;
    background-color: var(--crema);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    display: none;
}
.header-logo {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;  
}
.header-i {
    font-size: 1rem;
}
.header-menu{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;  
}
.logo-search{
    border-radius: 5px;
    width: 140px;
    border: 1px solid #38470B; 
}

.boton{
    background-color: #38470B;
    color:var(--crema);
    border-radius: 5px;
    margin:0px 0px 0px -5px;
    height: 30px;
}

nav{
    grid-area: nav;
    background-color: var(--crema);
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    /*position: fixed;*/
    padding: 0.5rem;
    width: 100%;
}

#chk-menu{
    display: none;
}

#chk-menu:checked ~ .items{
    display: block;
    display: flex;
    flex-direction: column;
}
.btn-menu{
    color: var(--verdeoscuro);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 8px;
}

.items{
    width: 100vw;
    display: none;
}
.item{
    padding: 0.5rem;
    text-decoration: none;
    color: var(--verdeoscuro);
}
.item:hover{
    color: var(--crema);
}
.busqueda{
    display: none;
}

/*--------------------LOGIN----------------------*/

.wrapper{
    grid-area: wrapper;
    background: #aa936fc4;
    border-radius: 15px;
    margin-top: 100px;
    margin: 90px 20px;
}

.wrapper .title{
    line-height: 120px;
    background: #fffdde7a;  
    padding-left: 20px;
    border-radius: 15px 15px 0px 0px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.wrapper form{
    padding: 30px 20px 25px 20px;
    margin: 10px 5px 10px 5px ;
}

.wrapper form h1{
    text-align: center;
    margin:30px;
    font-size: 23px;
    color: #FFFDDE;
}
.wrapper form .row{
    height: 45px;    
    margin-bottom: 30px;
    position: relative;
}

.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left:60px ;
    border-radius: 8px;
    border: 1px solid lightgray;
    font-size: 14px;
    transition: all 0.3s ease;
}


.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: var(--beige);
    font-size: 18px;
    background: #38470B;
    border: 1px solid #38470B;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass{
    text-align: center;
    margin: 12px 0 15px 0;
}

.wrapper form .pass a{
    color:#FFFDDE;
    text-decoration: none;
    font-size: 16px;
}

.wrapper form .pass a:hover{
    text-decoration: underline;
}

.wrapper form .button input{
    color: #FFFDDE;
    font-size: 14px;
    font-weight: 500;
    padding-left: 0px;
    background: #38470B;
    border: 1px solid #38470B;
    cursor:pointer;
}

form .button input:hover{
    background: #2e3b08;

}
/*_---------FOOTER----------*/
.footer {
    grid-area: footer;
    width: 100%;
    padding: 2rem;
    display: grid;
    align-items: center;
    text-align: left;
    background-color: var(--verdeoscuro);
    color: var(--verdeclaro);
    height: fit-content;
    grid-template-areas: 
    "foot1"
    "foot2"
    "foot3"
    "foot4";   
}
.foot1{
    grid-area: foot1;
}
.foot2{
    grid-area: foot2;
    display: flex;
    flex-direction: column;
}
.foot3{
    grid-area: foot3;
}
.foot4{
    grid-area: foot4;
}

.hr-foot{
    margin: 10px;
}

.foot1, .foot2, .foot3, .foot4{
    margin-bottom: 1rem;
    width: auto;
    line-height: 25px;
    border-bottom: 2px solid var(--verdeclaro);
}
.foot2 a{
   color: var(--verdeclaro);
}
.foot img {
    max-width: 180px;
    width: 100%;
}
.foot a {
    text-decoration: none;
    color: var(--verdeclaro);
    line-height: 25px;
}
.parte-abajo{
    grid-area: parte-abajo;
    background-color: var(--verdeclaro);
    color: #38470B;
    width: 100%;
    height: 100px;
    line-height: 30px;
    padding: 5px 27px;
}

@media screen and (min-width:768px) {
    nav{
        display: block;
        text-align: center;
    }
    .wrapper{
        max-width: 440px;
        position: relative;
        left: 20%;
    }
    
}

@media screen and (min-width:1024px) {
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "wrapper"
        "footer"
        "parte-abajo";
    }

    header{
        background-color: var(--crema);
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
    }
    .header-logo {
        max-width: 250px;
        width: 100%;
        margin: 0 28% 0px 41%;  
    }
    .header-menu{
        display: none;
    }
    nav{
        padding: 0%;
    }
    .wrapper{
        max-width: 390px;
        position: relative;
        left: 44%;
    }
    .btn-menu{
        display: flex;
        
    }
    .btn-menu .icon1{
        display: none;
    }
    label img{
        display: none;
    }
    .logo-search, .boton{
        display: none;
    }
    
    nav{
        width: 100%;
    }
    .items{
        width: 100%;
        color: #2e3b08;
        display: block;
        display: flex;
        padding: 1.5rem;
        text-decoration: none;
        background-color: var(--verdeclaro);
        justify-content: space-around;
    }
    
    .item:hover{
        color: var(--verdeclaro);
    }
    .footer{
        grid-template-areas:
        "foot1 foot2 foot4 foot3"
    }
    
    .foot1 img{
        width: 190px;
    }
    .foot1, .foot2, .foot3, .foot4{
        width: 220px;
        align-items: flex-start;
        margin: 1rem;
        height: 200px;
        border-bottom: none;
        line-height: 2.5rem;
    }
    .foot1{
        line-height: 1.3rem;
    }

    .foot2 h4 , .foot3 h4, .foot4 h4{
        border-bottom: 2px solid var(--verdeclaro);
    } 

    .busqueda{
        display: flex;
        align-items: center;
    }

    .boton2{
        background-color: #38470B;
        color:var(--crema);
        border-radius: 5px;
        margin:0px 0px 0px -5px;
        height: 22px;
    }
    .parte-abajo{
        display: flex;
        justify-content: space-between;
        height: 50px;
    }

    
}


