@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --crema:  rgb(255, 254, 242);
    --beige: #F1D6AB;
    --rosa: #E2C2B9;
    --verdeclaro: #B4C6A6;
    --verdeoscuro: #38470B;
    --cafe: #41341F;
    --cafeclaro: #A0855B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

i{
    color: var(--verdeoscuro);
    font-size: 20px;
}
a{
    text-decoration: none;
}

header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #FFFEF2;  

}


.m-navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #B4C6A6;
    display: none;
}

.m-logo img{
    width: 100%;
    max-width: 30px;
}

.m-navbar ul{
    list-style: none;
    padding-left: 1rem;
}

.m-navbar ul li{
    position: relative;
    width: 100%;
}

.m-navbar ul li a{
    padding: 20px;
    display: block;
    color: #38470B;
}

.m-navbar ul li a:hover{
    background: #38470B;
    color: #B4C6A6;
}

.m-navbar ul li ul{
    position: relative;
    left: 0;
    width: 100%;
    background: #B4C6A6;
    display: none;
}

.m-navbar ul li ul li{
    width: 100%;
    background: #38470B;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.m-navbar ul li ul li a{
    color: #B4C6A6;
}

.m-navbar ul li:focus-within > ul,
.m-navbar ul li:hover > ul{
    display: initial;
}

header label{
    cursor: pointer;
}

#menu-bar:checked ~ .m-navbar{
    display: initial;
}

/*--------------BARRA DE BUSQUEDA-----------------*/
.input{
    border: 0.5px solid rgb(211, 211, 211);
    outline: 1px;
    background: #FFFAFA;
}
.search {
    margin: 0 auto;
}

.search_wrap{
    width: 100%;
    max-width:200px ;
}

.search_box{
    position: relative;
    width: 200px;
    height: 30px;
}

.input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

.btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: #38470B;
    z-index: 1000;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:hover{
    background: #B4C6A6;
}

.btn.btn_common .fas:hover{
    color: #38470B;
}

.btn.btn_common .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 15px;
}


.b-shop{
    margin-right: 1rem;
}

/*-----------------------------------------MENU SECUNDARIO-----------------------------------*/

#d-header-second{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #B4C6A6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

.d-header-second-nav ul{
    list-style: none;
}


.d-header-second-nav ul li{
    float: left;
    margin: 0 2rem;
}

.d-header-second-nav ul li a{
    padding: 1.5rem;
    color: #38470B;
    display: block;
}

.d-header-second-nav ul li a:hover{
    background: #38470B;
    color: #B4C6A6;
}

.d-header-second-nav ul li ul{
    position: absolute;
    left: 0;
    width: 100%;
    background: #B4C6A6;
    display: none;
}


.d-header-second-nav ul li ul li{
    width: 100%;
    border-top:  1px solid rgba(0, 0, 0, .1);
    margin: 0;
}

.d-header-second-nav ul li:focus-within > ul,
.d-header-second-nav ul li:hover > ul{
    display: initial;
}


#d-header-one{
    position: static;
    width: 100%;
}

.d-header-one-nav{
    background: #FFFEF2;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.d-header-one-nav img{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.d-header-one-nav i{
    margin-left: 1rem;
    font-size: 25px;
}


/*----------------------------------------BARRA DE BUSQUEDA MENU SECUNDARIO---------------------------*/

.input{
    border: 0.5px solid rgb(211, 211, 211);
    outline: 1px;
    background: #FFFAFA;
}

.search_wrap2{
    width: 200px;
}

.search_wrap2, .search_box2{
    position: relative;
    width: 230px;
    height: 30px;
}

.input{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn{
    width: 30px;
    height: 100%;
    background: #38470B;
    z-index: 1000;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.btn.btn_common2 .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 15px;
}

/*------------------------------ FOOTER -----------------------*/


footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--verdeoscuro);
    color: var(--verdeclaro);
    height: fit-content;
    
}
footer i{
    color: var(--verdeclaro);
}
.foot {
    text-align: center;
    padding: 1rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot img {
    max-width: 200px;
    width: 100%;
}
.foot a {
    text-decoration: none;
    color: var(--verdeclaro);
}
.foot-item {
    margin-top: 1rem;
}
.socialnet {
    font-size: larger;
    margin-top: 1rem;
}

/*------------------------------ RESERVAS -----------------------*/

#reserve {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: 2rem;
    background-color: var(--beige);
    background-image: url(../utils/img/reserva.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.form {
    text-align: center;
    flex-basis: 40%;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.form-text {
    padding: 0.2rem;
    text-align: center;
    color: var(--verdeoscuro);
    margin-left: 1rem;
    flex-basis: 60%;
    background-color: rgba(255, 255, 255, 0.7);    
}
.form-box {
    color: var(--cafe);
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-item {
    margin: 1rem 0 0.5rem 0;
    padding-top: 0.5rem;
}
.form-item input {
    margin-top: 0.2rem;
    max-width: 300px;
    width: 90%;
    height: 2rem;
}
.form-item input:focus, textarea:focus{
    border: 3px solid var(--verdeoscuro);
   
}

 
/*---------------- MODAL ----------------------*/
.background-aviso{
    background-color:rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
}
.cont-aviso{
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--crema);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    bottom:10%;
    left: 20%;
    right: 20%;
}
.cont-aviso i{
    font-size: 40px;
}
.cont-aviso h4{
    margin-top: 2rem;
    font-size: 20px;
}
.cont-aviso-boton{
    margin-top: 2rem;
    display: flex;
    text-align: center;
}
.aviso-a, .aviso-b{
    font-weight: bold;
    height: 2rem;
    color: var(--cafe);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
    padding: 1rem;
    max-width: 120px;
}

.aviso-a a {
    color: var(--cafe);
}
.aviso-b a {
    color: var(--crema);
}
.aviso-a{
    background-color: var(--cafeclaro);
    border: 2px solid var(--cafe);
    border-radius:5px ;
    width: 90%;
}
.aviso-a:hover{
    background-color:var(--verdeclaro);
}
.aviso-b{
    background-color: var(--verdeoscuro);
    border: 2px solid var(--verdeoscuro);
    border-radius:5px;
    width: 90%;
}
.aviso-b:hover{
background-color: var(--verdeclaro);
}

.button-reser {
    text-align: center;
        cursor: pointer;
        margin: 2rem auto;
        padding: 1rem 5rem;
        max-width: 200px;
        width: 100%;
        font-weight: 800;
        background-color: var(--verdeoscuro);
        color: var(--verdeclaro);
        border-radius: 5px;
}
.button-reser a {
    color: var(--crema);
}

@media screen and (max-width:768px) and (min-width:128px) {
    #d-header-one{
        display: none;
    }

    .d-header-second-nav{
        display: none;
    }

    .search2{
        display: none;
    }
}

@media screen and (min-width:768px) {
    .search_box{
        max-width: 340%;
        width:600px;
    }
    header{
        display: none;}
    footer {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: var(--verdeoscuro);
            color: var(--verdeclaro);
            height: fit-content; 
        }
}


@media screen and (min-width:1200px){
    .d-header-second-nav ul li{
        margin: 0 2.5rem;
    }
    .container {
        margin: 0 auto;
        max-width: 1400px;
    }
}
